# DotEnv configuration
*.env

# mac
*.DS_Store

# exclude data from source control by default
data/

# exclude R project files
*.Rproj.user
*.Rproj
*.Rhistory
*.RData
*.Ruserdata
*.renv


out/09-26-2025
out/09-28-2025
out/10-07-2025
out/10-08-2025
out/*
.Rproj.user
Rplots.pdf
src/prepare_variant_data_dev.R
/archive
